---
layout: default
---

{% for post in site.posts %}
    <div class="post-card">
        <a href="{{site.baseurl}}{{ post.url }}" class="post-title">
            {{ post.title }}
        </a>
        <div class="post-details">
            <b>{{ post.date | date: "%d %B %y" }}</b>
            <br>
            {% if post.tags %}
                <b>[</b>
                {% for tag in post.tags %}
                    <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>
                    {% if post.tags.last != tag %}
                        ,
                    {% endif %}
                {% endfor %}
                <b>]</b>
            {% endif %}
        </div>
        <div class="post-snippet">
            {{ post.snippet }}
        </div>
    </div>
    {% if forloop.last == false %}
    <hr>
    {% endif %}
{% endfor %}