<div class="navbar container">
    <a id="site-title" class="alignable pull-left" href="{{ site.url }}{{ site.baseurl}}">{{ site.title }}</a>
    <ul id="navlist" class="alignable pull-right navbar-ul">
        {% for x in site.navbar %}
        <li class="alignable pull-left navbar-list">
            <a href="{{ site.url }}{{ site.baseurl}}/{{ x.link }}">{{ x.name }}</a>
            {% if forloop.last == false %}/{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<div style="clear:both"></div>

<hr>
